<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <!-- Include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <h1>Prompt Engineering Chatbot Applications</h1>
    </header>
    <nav>
        <ul class="horizontal-menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('customer_service') }}">Customer Service Chatbot</a></li>
            <li><a href="{{ url_for('educational_tutor') }}">Educational Tutor Chatbot</a></li>
        </ul>
    </nav>

    {% block content %}{% endblock %}
</body>
</html>
